<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('popcorn.jpg') %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>



<div class="container my-3">
  <h5><%= @list.name %></h5>
  <div class="row cards">
    <% @list.movies.each do |movie| %>
      <div class="col-4">
        <div class="card">
          <p><%= image_tag movie.poster_url, alt: movie.title, class: 'card-image' %></p>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= movie.overview %></h6>
            <div>
              <i> Rating <%= movie.rating %></i>
                 <%= link_to "Remove", list_bookmarks_path(@list.bookmarks),
                      method: :delete, 
                      data: { confirm: "Are you sure you wanna delete this movie?" },
                      class: 'text-danger'
                  %>
            </div>
          </div>
        </div>
      </div>

      <div>
   
    </div>
    <% end %>
  </div>

  <div class="mt-5">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.button :submit, class: 'btn btn-secondary' %>
      <% end %>
  </div>

  <p><%= link_to 'Back to lists', root_path, class: 'btn btn-secondary mt-3' %></p>
  <p><%#= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: 'btn btn-info' %></p>
</div>


